body {
    background-image: url("../static/stone_wall.png");
    background-size:cover ;
}

.divCounter {
    padding: 70% 100px;
    background-color: #E0C387;
    border-radius: 25px;
    text-align: center;
    opacity: 0.9;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 50px;
}

button {
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}